*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #8AF3FF;
}

.container {
    font-family: Poppins;
    padding: 2rem;
    background-color: #F7F0F0;
    border-radius: 5px;
    min-height: 45vh;
    width: 60vh;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding: 0.5rem;
     
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    width: 6rem;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}